<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'fuck you capy' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.input :number, collection: 18..60 %>
  </div>
  <div class="field">
    <%= f.input :stuffed %>
  </div>
  <div class="field">
    <%= f.input :food, collection: ['toast', 'bacon', 'cucumber'], as: :radio_buttons %>
  </div>
  <%= f.simple_fields_for :info do |p| %>
  <div class="field">
    <%= p.input :wage %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
